
@media only screen and (max-width:409px){
    
    header{
        width: 100%;
    }
    
    .list{
        position: absolute;
        top: -200px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #000;
        text-align: center;
        transition: all 0.5s;
    }


    .list li a{
        display: block;
        margin: 10px;
    }
    
    .open {
        top: 100%;
    }
    .openmenu{
        display: block;
    }
    
    .info{
        height: 550px;
    }
    .name h1{
        font-size: 2rem;
    }

    .about-main{
        grid-template-columns: 1fr;
    }
    .about-detail{
        margin-bottom: 15px;
    }
    .about-detail p{
        font-size: 1.2rem;
        line-height: 28px;
    }

    .skills{
        margin-top: 400px;
        height: 1350px;

    }

    .skill-detail{
        height: 100vh;
        grid-template-columns: 1fr;
    }
    .skill-item {
        height: 130px;
    }
}
